body
{
	background-color : #ffffb3;
	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

#header-nav
{
	position:fixed;
	text-shadow: 1px 1px 1px #222;
	background-color : #ccff99;
	padding-top:0.3em;
	padding-right: 0.2em;
	
	border-radius: 0;
	border:0;
	letter-spacing: 1px;
    font-weight: bold;
}
.navbar-header a
{
		color :#708090;
		text-decoration: none;
		font-size:2em;
}

.navbar-header button.navbar-toggle
{
  border: 1px solid #ffffb3;
  clear: both;
  margin-top: -30px;
}

 #collapse-menu
 {
 	clear:both;
 	border:2px solid #ffffb3;
 }
  #collapse-menu li a
  {
  	font-size:1.1em;
  	color :#708090;
  	text-align: center;
  	font-weight:normal;
  	text-shadow:none;
  }

  #main-content
  {
  	width:100%;
  	background-color: #DCDCDC;
  	margin:15px;
  	padding:25px;
  }